{
  "train_data_path" : "/GitHub/MyThesis/SmEval19_starting_kit/Dataset/Train/train_en.tsv",
  "test_data_path" : "/GitHub/MyThesis/SmEval19_starting_kit/Dataset/Test/dev_en.tsv",
  "solution_path" : "test.txt",
  "glove_dir" : "/GitHub/MyThesis/SmEval19_starting_kit/glove",
  "num_folds" : 5,
  "num_classes" : 2,
  "max_nb_words" : 20000,
  "max_sequence_length" : 100,
  "embedding_dim" : 100,
  "batch_size" : 100,
  "lstm_dim" : 128,
  "learning_rate" : 0.003,
  "dropout" : 0.2,
  "num_epochs" : 75
}
